::deep .mud-layout {
    height: 100vh;
}

.main-content {
    padding: 1.5rem; 
}

.navmenu-styled .mud-nav-link {
    border-radius: 4px;
    font-weight: 500;
}

    .navmenu-styled .mud-nav-link.active:not(.mud-nav-link-disabled) {
        background-color: var(--mud-palette-action-default-hover);
        color: var(--mud-palette-primary-text) !important;
    }
