@page "/register"
@using Finance.Contracts.Requests.Auth
@inject Finance.Web.Handlers.AuthHandler AuthHandler
@inject NavigationManager Navigation
@inject ISnackbar Snackbar

<h3>Registro</h3>

<MudPaper Class="d-flex flex-column mx-auto my-12 p-6" MaxWidth="400px" Elevation="8">
    <MudText Typo="Typo.h5" Align="Align.Center" Class="mb-4">Criar Conta</MudText>

    <MudTextField Label="Name" @bind-Value="registerModel.Name" Variant="Variant.Filled" Required="true" />
    <MudTextField Label="Email" @bind-Value="registerModel.Email" Variant="Variant.Filled" Required="true" />
    <MudTextField Label="Password" @bind-Value="registerModel.Password" Variant="Variant.Filled" InputType="InputType.Password" Required="true" />

    <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="HandleRegister" Class="mt-4" FullWidth>
        Registrar
    </MudButton>

    <MudText Typo="Typo.caption" Align="Align.Center" Class="mt-3">
        Já tem uma conta?
        <MudLink Href="/login">Entrar</MudLink>
    </MudText>
</MudPaper>

@code {
    private RegisterRequest registerModel = new();

    private async Task HandleRegister()
    {
        var success = await AuthHandler.RegisterAsync(registerModel);

        if (success)
        {
            Snackbar.Add("Registro concluído com sucesso!", Severity.Success);
            Navigation.NavigateTo("/login");
        }
        else
        {
            Snackbar.Add("Erro ao registrar. Tente novamente.", Severity.Error);
        }
    }
}
